@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
  background-color: #f5f6fa;
  padding:50px;
  font-family: 'Space Mono', monospace;
}

.typewriter{
  font-weight:bold;
  animation: typew 4s steps(60) 0s, blinker 0.75s linear infinite;
  overflow:hidden;
  font-size:1rem;
  white-space: nowrap;
  width:520px;
  letter-spacing: .15em;
}

@keyframes typew{
  0%{
    width:0%;
  }
  100%{
    width:520px;
  }
  
}

@keyframes blinker {
  from, to {border-color: transparent}
  50% {
    border-right: 1px solid #0097e6;
  }
}
